:root {
  --primary-color: #f00;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Yantramanav', sans-serif;
  color: var(--primary-color);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

html {
  font-size: calc(1vw + 1vh + 0.5vmin * 3.5);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

*::selection {
  background-color: var(--primary-color);
  color: #fff;
}

footer {
  display: flex;
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #fff;
}


footer a, footer span {
  font-size: 1rem;
  color: var(--primary-color);
  text-decoration: none;
  text-transform: uppercase;
  align-self: center;
  display: block;
  width: max-content;
  padding-left: 21px;
  cursor: pointer;
}
